.modalWindow {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  z-index: 100;

  .modalContent {
    padding: 10px;
    background: #2D2D2D;
    border-radius: 8px;
    min-height: 400px;
  }
}

.modalWindow.active {
  display: flex;
  justify-content: center;
  align-items: center;
}